body{
  background-color: white;
  font-family: 'Garamond',serif;
  letter-spacing: 1px;
  text-align: center;
  line-height: normal;
}

.div1{
  padding: 100px 300px;
}

.div2{
  padding: 0px 100px 500px 100px;
}


.btn {
  background: #8AB3A8;
  background-image: -webkit-linear-gradient(top, black, black);
  background-image: -ms-linear-gradient(top, black,black);
  background-image: -o-linear-gradient(top, black, black);
  background-image: linear-gradient(to bottom,black, black);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Merriweather',serif;
  color: #ffffff;
  font-size: 10px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 20px;
}


.btn:hover{
  background: #D6E5FA;
  background-image: -webkit-linear-gradient(top, #D6E5FA, #D7E9F7);
  background-image: -moz-linear-gradient(top, #D6E5FA, #D7E9F7);
  background-image: -ms-linear-gradient(top, #D6E5FA, #D7E9F7);
  background-image: -o-linear-gradient(top, #D6E5FA, #D7E9F7);
  background-image: linear-gradient(to bottom, #D6E5FA, #D7E9F7);
  text-decoration: none;
}
